:root {
    --left-width : clamp(200px, 38vw, 800px);
    --right-width : clamp(300px, 62vw, 1200px);
    font-size: 20px;
    font-family: "Klee One"
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    font-size: 3.5rem;
}

.left {
    width: var(--left-width);
}

.left.main {
    background-image: url("images/spices_background.jpg");
    background-size: cover;
}

.right {
    width: var(--right-width);
    display: flex;
    flex-flow: column nowrap;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:center;
    height: 20vh;
    color: white;
    width: auto;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.6)
}

#img_logo {
    height: 15vh;
}

